/* Здесь вы напишете основную часть стилей страницы. */

/*Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
   url('../fonts/Inter-Variable.woff2') format('woff2 supports variations'),
        url('../fonts/Inter-Variable.woff2') format('woff-variations');
  font-display: swap;
}

.page {
  min-inline-size: 320px;
  font-family: 'Inter';
  background-image: var(--header-fon);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  gap: 98px;
  padding-bottom: 50px;
}

.header{
  inline-size: 100vw;
  display: grid;
  justify-content: space-around;
  padding-top: 100px;
}

.header-block{
  block-size: clamp(327px, calc(35vh + 5vw) ,368px);
  background-color: var(--white-color);
  display: grid;
  align-self: flex-start;
  
}

.header_title{
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
  display: grid;
  font-family: 'PressStart2P';
  gap: 18px;
}

.header_title_last_word{
  text-transform: lowercase;
}

.main-card-content{
  display: grid;
  gap: 50px;
}

.card{
  display: flex;
  justify-content: space-around;
}

.main-open-title{
  font-family: 'Inter';
  font-weight: 715;
  font-size: 18px;
  letter-spacing: 0;
  padding-block: 5px;
  padding-inline-start: 11px;
}

.main-card-element{
  background-color: var(--white-color);
}


.img_watermarka{
  position: relative;
  inline-size: inherit;
  display: flex;
  outline: 2px solid var(--black-color);
  width: inherit;
}

.main-card-text-button{
  display: grid;
  padding-inline-start: 24px;
  padding-inline-end: 30px;
  padding-block-end: 25px;
  gap: 25px;
}

.button-main-card{
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  background-color: transparent;
  position: relative;
}

.button__look {
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--black-color);
  color: var(--white-color);
  background-color: transparent;
  position: relative;
  display: flex;
}

.button__look:after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--black-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button__look span{
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
}

.button__look svg{
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__look:hover:after {
  transform: scaleX(1);
}

.main-card-text{
  font-family: 'Inter';
  font-variation-settings: 
    "wght" 410, 
    "slnt" 0;
  line-height: 21px;
  font-size: 18px;
}

.img_main{
  width: 100%;
  height: auto; 
  display: block;
  object-fit: cover;
}

.img_watermarka::before{
  content: "</HTML>";
  position: absolute;
  inset-block-start: 8%;
  inset-inline-end: 26px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(255, 255, 255,0.5);
  line-height: 100%;
  font-family: 'PressStart2P';
  font-variation-settings:'wdth' 400;
  vertical-align: middle;
  z-index: 0;
}

.card-element{
  outline: 2px solid var(--black-color);
}

.main-card{
  display: grid;
  width: inherit;
}

.button__text {
  font-family: 'PressStart2P';
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.button__border{
 padding: 10px 33px;
}


.image-first-start {
    filter: grayscale(0.8);
} 

.image-first-end {
    filter: saturate(500%);
} 

.image-second-start{
   
    filter: hue-rotate(20deg);
}

.image-second-end{
    filter: invert(0.7);
}


.image-third-start {
    filter: sepia(80%);
} 

.image-third-end{
  filter:blur(5px); 
}

.image-last{
  filter:grayscale(0.2) saturate(400%) hue-rotate(
65deg) invert(0.1) sepia(78%) blur(1px);
}

.floppy-image-card{
  width: 28px;
  height: 28px;
}



.main-end{
  display: flex;
  justify-self: center;
}

.main-end-button{
  display: flex;
  justify-content: center ;
}

.main-end-button-text{
  align-self: center;
}

.dialog-end-button{
  flex: 1;
  width: 100%;
  height: auto; 
}

.dialog-content{
  display: flex;
  flex-direction: column;
  gap:25px;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(4px);
} 

.dialog-text{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.dialog-text-block{
  font-family: 'PressStart2P';
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.floppy-image-card-dialog{
  align-self: center;
  justify-self: flex-start;
}


.like-icon:focus-visible{
  outline: 2px solid var(--black-color);
  outline-offset: 5px;
}


.button__look:focus{
  box-shadow: 2px 2px 0px 0px var(--black-color);
}

.main-end-button{
  padding-block-start: 10px;
  padding-block-end: 10px;
  padding-inline: 15px;
}

.countour{
  transition: fill 0.1s linear;
}

.heart-body{
  transition: fill 0.3s linear;
}

.core{
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core{
  fill:black;
  transition: fill 0.3s linear;
}

.like-icon:hover .heart-body{
  fill:black;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core{
  fill:red;
  transition: fill 0.3s linear;
}

.like-icon:active .heart-body{
  fill:red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart-body{
  fill:red;
  transition: fill 0.3s linear 0.05;
}

.like-icon.is-liked .core{
  fill:red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .countour{
  fill:red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart{
  transform-origin: center;
  animation: heart-bit 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .spark{
  animation: blow ease-in 0.3s 1;
}


@media (width <= 375px) {

.main-end-button{
  gap: 12px;
}

.block{
  width: calc(100vw - 4px);
  margin-inline: auto;
}

.main-open-title{
  display: grid;
  padding-inline: 9px;
  padding-block: 3px;
}

.header_title_small{
  font-size: 14px;
  
}

.header_title_big{
  font-size: 49px;
}

.main-card-text-button{
  padding-block-start: 31px;
}

.main-end-button{
  flex-direction: column;
}

.floppy-image-card{
  align-self: center;
}

}

@media (width > 375px) {

.main-end-button{
  gap:5px;
}

.dialog-window{
  width: clamp(341px, 40vw ,353px);
  margin: auto;
}

.header_title_small {
  font-size: 23px;
  
}

.header_title_big {
  font-size: clamp(49px, 5vw, 65px);
}

.block {
   inline-size: clamp(375px, 49vw, 700px);
}


.main-card-content {
  gap:48px;
}

.main-card-text-button{
  padding-block-start: 26px;
}
}
