/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --header-fon:repeating-linear-gradient(to right, #d3d3d3, transparent 4px), repeating-linear-gradient(#d3d3d3, transparent 4px),
  linear-gradient(#e7e7e7, #1a1a1a);
    --white-color:#fff;
    --black-color:#000;
    --button-text-color: #fff;
    --countour-color: #000;
    --sparks:transparent;
}